body {
  background-color: #f8f9fa;
  font-family: "Source Code Pro", monospace;
}

/* hero */
/* #landing,
div {
  border: 3px solid #000;
} */
@media (max-width: 575.98px) {
  .custom-img {
    max-width: 400px;
    max-height: 400px;
  }
}
.custom-img {
  width: 570px;
  height: 570px;
  border-radius: 50%;
  border: 2px solid #212529; /* You can adjust the border width if needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values for desired shadow effect */
}
.text {
  color: #212529;
}
.custom-h1 {
  font-size: 3rem;
  font-weight: 700;
}
.custom-h5 {
  font-size: 1.5rem;
}
.custom-p {
  font-size: 1rem;
}
/* hero */
/* navbar */
.custom-navbar .navbar-brand {
  font-size: 1.5rem; /* Adjust font size for the brand */
  font-weight: 700;
}
.custom-navbar .nav-link {
  font-size: 1.2rem; /* Adjust font size for nav links */
  font-weight: 600;
}
/* navbar */
/* projects */
.custom-img-projects1 {
  width: 570px;
  height: 600px;
  border: 2px solid #212529; /* You can adjust the border width if needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values for desired shadow effect */
}
/* projects */
/* skills & tools */
.skill-img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s;
}

.skill-img:hover {
  transform: scale(1.2);
}
/* skills & tools */
