* {
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  font-weight: 900;
  font-size: 4rem;
}
h3,
h5 {
  font-weight: 900;
  font-size: 3rem;
}
p {
  font-weight: 500;
  font-size: 2rem;
}
nav {
  font-weight: 700;
  font-size: 1rem;
}
#projects {
  background-color: black;
}
#projects h1 {
  color: whitesmoke;
}
#projects h5 {
  color: orange;
}
#tools h3 {
  color: orange;
  background-color: black;
}
#contact {
  background-color: black;
}
#contact {
  color: whitesmoke;
}
#message h4 {
  font-weight: 900;
  font-size: 2rem;
}
#message label {
  font-weight: 700;
}
#message input[type="text"],
input[type="email"],
#text-message {
  font-size: 2rem;
}
#message button {
  font-size: 2rem;
  color: whitesmoke;
  background-color: orange;
  border-color: white;
  border-radius: 25px;
}
footer h6 {
  font-weight: 900;
  font-size: 2rem;
  color: orange;
}
footer p {
  font-weight: 200;
  font-size: 2rem;
}
