body {
  background-color: #f8f9fa;
  font-family: "Source Code Pro", monospace;
}
/* hero */
/* div {
  border: 3px solid #000;
} */

.custom-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid #212529; /* You can adjust the border width if needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values for desired shadow effect */
}
.text {
  color: #212529;
}
.custom-h1 {
  font-size: 3rem;
  font-weight: 700;
}
.custom-h5 {
  font-size: 1.5rem;
}
.custom-p {
  font-size: 1rem;
}
/* hero */
/* navbar */
.custom-navbar .navbar-brand {
  font-size: 1.5rem; /* Adjust font size for the brand */
  font-weight: 700;
}
.custom-navbar .nav-link {
  font-size: 1.2rem; /* Adjust font size for nav links */
  font-weight: 600;
}
/* navbar */
/* projects */
.custom-img-projects1 {
  width: 570px;
  height: 600px;
  border: 2px solid #212529; /* You can adjust the border width if needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values for desired shadow effect */
}
#projects {
  padding: 60px 0;
}
.custom-img-projects1 {
  max-width: 100%;
  height: auto;
}
.project {
  text-align: left;
}
@media (max-width: 767px) {
  .vh-100 {
    height: auto;
  }
  .custom-img-projects1 {
    margin-bottom: 20px;
  }
  .project {
    text-align: center;
  }
}
/* projects */
/* skills & tools */
.skill-img,
img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s;
}

.skill-img,
img:hover {
  transform: scale(1.2);
}
#skills-tools h5 {
  font-weight: 900;
}

/* skills & tools */
/* contacts */
.social-icon {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Ensure the height matches the width for a perfect circle */
  border-radius: 50%;
  margin: 0 10px; /* Optional: Adds space between icons */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* contacts */
